{% load static %}
<html>
<style>
	body {
	font-family: sans-serif;
	background-image: url('/static/bg5.jpg');
	background-repeat: no-repeat;
	overflow: hidden;
	background-size: cover;
}
	.container {
	margin: 15% auto;
	color: black;
	text-align: center;
	top: 15%;
}

	.header {
	margin-top: auto;
}
.header h1 {
    text-align: center;
	color: indigo;
	font-size: 25px;
	margin-bottom: 45px;
}
</style>
<body>
	<div class="container">
		<div class="header">
			<img src="/static/bg2.gif"  height=300px; width=300px top=250px>
    <h1>Sorry!! we could'nt find an account with this username/password.<br>Please try again/signin</h1>
</div>
</div>
</body>
</html>